<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i < rows.length; i++) { %>
                <tr>
                    <td><%= rows[i].title %></td>
                    <td><%= rows[i].email %></td>
                    <td><%= rows[i].password %></td>
               </tr>
            <% } %>
        </tbody>
        
        
    </table>


    <h2>Search Password</h2>
    <form action="/searchPasswordWithTitle" method="POST">
        <label for="title">Title/URL: </label>
        <input type="text" name="title" placeholder="title">
        <button type="submit">SEARCH</button>
    </form>


    <br><br>
    <h2>Delete Password</h2>
    <form action="/DeletePasswordWithTitle" method="POST">
        <label for="title">Title/URL: </label>
        <input type="text" name="title" placeholder="title">
        <button type="submit">DELETE</button>
    </form>

    <br>
    <a href="/profile">Home</a>
    <h3><%= msg %></h3>
    <%- include('./partials/footer.ejs') %>
</body>
</html>